{% extends 'user_base.html' %}

{% load static %}

{% block title %}チャージ{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/user_charge.css' %}">
{% endblock %}

{% block contents %}
<div class="charge_main">
        <div class="now">現在のチャージ金額：{{T5_user.t5_charge_remain}}</div>
        <form method="post">
                {% csrf_token %}
                <table class="charge_table">{{ form.as_table }}</table>
                <button type="submit" class="chatge_button">送信</button>
        </form>
</div>
{% endblock %}