{% extends 'user_base.html' %}

{% load static %}

{% block title %}{{ object.t4_food_name }}{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/food_list_ex.css' %}">
{% endblock %}

{% block contents %}
<div class="block-element">
    <div class="block">
        <div class="ex_pic">
            <div class="food_name">
                <!--料理名-->
                <h1>{{ object.t4_food_name }}<h1>
            </div>
            <div class="food_pic">
                <img src="{{ object.t4_food_photo_01.url }}">
            </div>
        </div>
        <div class="ex_block">
            <div class="food_name_ex">
                <h2>商品名：{{ object.t4_food_name }}</h2>
                <!--商品説明-->
                <p>{{ object.t4_food_discribe }}</p>
            </div>
            <div class="money">
                <span class="en">￥</span>
                <span class="enen">{{ object.t4_price }}</span>
            </div>
            <div class="food">
                <h2>使用食材</h2>
                {% for food in object.t4_ingredients %}
                <li>{{ food }}</li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<span class="order_box">
    {% for l in order %}
    <div class="order">
        <div class="linkbox">
            <a href="{% url 'user:order_detail' l.pk object.id %}"></a>
            <p>次の
                {% if l.t2_week == 1 %}
                日
                {% elif l.t2_week == 2 %}
                月
                {% elif l.t2_week == 3 %}
                火
                {% elif l.t2_week == 4 %}
                水
                {% elif l.t2_week == 5 %}
                木
                {% elif l.t2_week == 6 %}
                金
                {% elif l.t2_week == 7 %}
                土
                {% endif %}
                曜日の注文に追加！
            </p>
        </div>
    </div>
    {% empty %}
    <p>&nbsp;</p>
    {% endfor %}
</span>
{% endblock %}