{% extends 'user_base.html' %}

{% load static %}

{% block title %}マイページ{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="user-mypage-Character-position">
    <font face="Comic Sans MS">
        <h1><b>My page</b></h1>
    </font>
</div>

<div class="user-mypage-btn">
    <a href="{% url 'user:information' %}"
        class="btn user-btn-orange user-btn-circle-my user-btn-shadow user-mypage-btn-margin-bottom-right">アカウント情報</a>
    <a href="#" class="btn user-btn-orange user-btn-circle-my user-btn-shadow user-mypage-btn-margin-bottom">チャージ履歴</a>
    <a href="#"
        class="btn user-btn-orange user-btn-circle-my user-btn-shadow user-mypage-btn-margin-bottom-left">利用状況</a>
</div>
<div class="user-mypage-btn">
    <a href="#"
        class="btn user-btn-orange user-btn-circle-my user-btn-shadow user-mypage-btn-margin-top-right">ログアウト</a>
    <a href="#"
        class="btn user-btn-withdrawal user-btn-circle-my  user-btn-shadow user-mypage-btn-margin-top-left">退会</a>
</div>
{% endblock %}