{% extends 'user_base.html' %}
{% load static %}

{% block title %}お気に入り一覧{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/user_like.css' %}">
{% endblock %}

{% block contents %}


<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for shop in object_list %}

                <a class="post-preview" href="{% url 'user:product' shop.pk %}">
                    <img src="{{shop.t1_shop_photo_02.url}}" />
                    <div class="star5_rating" data-rate="{{shop.t1_review_ave}}"></div>{{shop.t1_review_ave}}/5
                    <h2 class="name_font">{{shop.t1_shop_name_prime}}</h2>
                </a>
                {% empty %}
                <p>まだ登録されていません</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}