{% extends 'user_base.html' %}

{% load static %}

{% block title %}マイページ{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/user_product.css' %}">
{% endblock %}

{% block contents %}
<img class="Banner-image" src="{{object.t1_shop_photo_02.url}}" />
<p>{{object.t1_shop_name_prime}}</p>
<p>
    <span class="star5_rating" data-rate="{{object.t1_review_ave}}"></span> ({{object.t1_review_ave}})
</p>
<p>営業時間：{{object.t1_start_time}} ～ {{object.t1_end_time}}</p>
<p>定休日：{% if object.t1_shop_sun %}
    日曜日
    {% endif %}
    {% if object.t1_shop_mon %}
    月曜日
    {% endif %}
    {% if object.t1_shop_tue %}
    火曜日
    {% endif %}
    {% if object.t1_shop_wed %}
    水曜日
    {% endif %}
    {% if object.t1_shop_tru %}
    木曜日
    {% endif %}
    {% if object.t1_shop_fri %}
    金曜日
    {% endif %}
    {% if object.t1_shop_sat %}
    土曜日
    {% endif %}
    年中無休</p>
<p>住所：{{object.t1_address}}</p>
<p>カテゴリ：{{object.t8_shop_category_id}}</p>
<p>店舗説明：{{object.t1_shop_discribe}}</p>
<p>サブ店舗：{{object.t1_shop_name_sub}}</p>
<p>電話番号：{{object.t1_tel_number}}</p>


<p>{{food}}</p>

{% endblock %}