{% extends 'user_base.html' %}

{% load static %}

{% block title %}マイページ{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="user-mypage-Character-position">
    <h1><b>マイページ</b></h1>
</div>

<div class="shop-mypage-btn">

    <div>
        <a href=# class="btn_02_a"><span>アカウント</span></a>
    </div>

</div>
<div class="shop-mypage-btn">
    <div>
        <a href="#" class="btn_02_a"><span>チャージ履歴</span></a>
    </div>
</div>
<div class="shop-mypage-btn">
    <div>
        <a href="#" class="btn_02_a"><span>利用状況</span></a>
    </div>
</div>
<div class="shop-mypage-btn">
    <div>
        <a href="#" class="btn_02_a"><span>ログアウト</span></a>
    </div>
</div>
<div class="shop-mypage-btn">
    <div>
        <a href="#" class="btn_02_a"><span>退会申し込み</span></a>
    </div>
</div>



<p>aaaaaaaaaaaaaaa</p>
<p>{{ object.t5_user_firstname }}</p>
<p>aaaaaaaaaaaaaaaaa</p>



{% if user %}
<h1>dffkejkfjjjjjjjjjjjjjj</h1>
{% endif %}

{% endblock %}