{% extends 'user_base.html' %}

{% load static %}

{% block title %}マイページ{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="user-mypage-Character-position">
    <h1><b>マイページ</b></h1>
</div>

<div class="user-mypage-btn">
    {% for object in object_list %}
    <div>
        <a href="{% url 'user:info' object.pk %}" class="btn_02_a"><span>アカウント</span></a>
    </div>
    {% endfor %}
</div>
<div class="user-mypage-btn">
    <div>
        <a href="{% url 'user:charge_history' %}" class="btn_02_a"><span>チャージ履歴</span></a>
    </div>
</div>
<div class="user-mypage-btn">
    <div>
        <a href="#" class="btn_02_a"><span>利用状況</span></a>
    </div>
</div>
<div class="user-mypage-btn">
    <div>
        <a href="{% url 'account_logout' %}" class="btn_02_a"><span>ログアウト</span></a>
    </div>
</div>
<div class="user-mypage-btn">
    <div>
        <a href="{% url 'user:delete_user' object.pk %}" class="btn_02_a"><span>退会申し込み</span></a>
    </div>
</div>

{% endblock %}