{% extends 'user_base.html' %}

{% load static %}

{% block title %}マイページ{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<ol>
    <li>{{object.t5_user_firstname}}</li>
    <li>{{object.t5_user_lastname}}</li>
    <li>{{object.t5_address}}</li>
    <li>{{object.t5_post}}</li>
    <li>{{object.t5_tel_number}}</li>
    <li>{{object.t5_landmark}}</li>
    <li>{{object.t5_allergy}}</li>
    <li>{{object.t5_charge_tool}}</li>
    <li>{{object.t5_credit_number}}</li>
    <li>{{object.t5_credit_limit}}</li>
    <li>{{object.t5_bank_name}}</li>
    <li>{{object.t5_bank_location}}</li>
    <li>{{object.t5_bank_number}}</li>
    <li>{{object.t5_bank_password}}</li>
    <a class="" href="{% url 'user:user_update' object.pk %}">変更</a>
</ol>
{% endblock %}


<!-- Amazon SESの申請!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->