{% extends 'user_base.html' %}
{% load static %}

{% block title %}店舗詳細{% endblock %}
    
{% block active_user_shop_list %}active{% endblock %}

        <h1>店舗詳細</h1>
        <div class="contaoner">
            <div class="my-div-style w-100">
                <div class="row">
                    <div class="col-3">
                        <h3>商品</h3>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-3">
                            {% if object.photo1 %}
                                <img src="{{ object.photo1.url }}"width="200"height="200"/>
                            {% endif %}
                        </div>
                        <div class="col-3">
                            {% if object.photo2 %}
                                <img src="{{ object.photo2.url }}"width="200"height="200"/>
                            {% endif %}
                        </div>
                        <div class="col-3">
                            {% if object.photo3 %}
                                <img src="{{ object.photo3.url }}"width="200"height="200"/>
                            {% endif %}
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-3">
                            <strong>作成日時</strong>
                        </div>
                        <div class="col-9">
                            {{ object.created_at }}
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-3">
                            <strong>更新日時</strong>
                        </div>
                        <div class="col-9">
                            {{ object.updated_at }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
