{% extends 'user_base.html' %}

{% load static %}

{% block title %}マイページ{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}

{{object.t5_user_firstname}}
{{object.t5_user_lastname}}
{{object.t5_address}}
{{object.t5_post}}
{{object.t5_tel_number}}
{{object.t5_landmark}}
{{object.t5_allergy}}
{{object.t5_charge_tool}}
{{object.t5_credit_number}}
{{object.t5_credit_limit}}
{{object.t5_bank_name}}
{{object.t5_bank_location}}
{{object.t5_bank_number}}
{{object.t5_bank_password}}
<a class="" href="{% url 'user:user_update' object.pk %}">変更</a>

{% endblock %}


<!-- Amazon SESの申請!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->