.backbutton {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #ed0121;
    border-right: solid 4px #ed0121;
    color: #ed0121;
    background: #ffe7e1;
    transition: .4s;
  }
  
  .backbutton:hover {
    background: #ed0121;
    color: #FFF;
  }