/*タイトルCSS*/
.pagetitle{
    margin-left: 30px;
    margin-bottom: 30px;
}

input {
    padding: 10px;
  }
  .button {
    display: inline-block;
    background-color: #FF3C5F;
    border: #FF3C5F;
    color: rgb(124, 55, 55);
    border-radius: 5px;
  }
