/*タイトルCSS*/
.pagetitle{
  margin-left: 30px;
  margin-bottom: 30px;
}

.adress{
  padding: 10px;
}
.button {
  display: inline-block;
  width: 80px;
  border-radius: 5px;
}
.button:hover{
opacity: 0.7;
background-color: white;
}
.time {
display: inline-block;
border: 2px solid black;
border-radius: 5px;
}