
body{
  width:100%; 
  text-align:center;
  background-color: rgb(241, 241, 241);
  } 
.food_name{
  width: 275px;
  height: 80px;
  font-size: 30px;
  margin-bottom: 30px;
}
.food_pic img{
  width:170px;
  height: 150px;
  margin-bottom: 10px;
}
.block {
  overflow: hidden;

  background-color: white;

  border: solid black;
  border-radius: 10px;

  display: inline-block;/*横並び*/

  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/

  padding-left: 100px;
  padding-right: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.plus img{
  width:150px;
  height: 150px;
  margin-bottom: 10px;
}
.new_block {
  overflow: hidden;

  border: solid black;
  border-radius: 10px;

  display: inline-block;/*横並び*/

  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/

  background-color: white;

  padding-left: 110px;
  padding-right: 110px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}