.block{
  position: relative;
  overflow: hidden;
  margin-left: 25px;
}
.food_name{
  border-left: thick solid red;
  padding-left: 15px;
}
.ex_pic{
  float: left;
  clear: both;
}
.food_pic{
  margin-left: 100px;
}
.ex_block{
  padding-left: 30px;
  padding-top: 100px;
  margin-left: 50px;
  float: left;
}
.money .en .enen{
  display: inline-block;
}
.en{
  font-size: 22px;
}
.enen{
  font-size:45px;
}