.food_name{
    border-left: thick solid red;
    padding-left: 15px;
}
.ex_pic{
    float: left;
}
.ex_block{
    padding-left: 30px;
    padding-top: 100px;
    float: left;
}
.money .en .enen{
    display: inline-block;
}
.en{
    font-size: 22px;
}
.enen{
    font-size:45px;
}
.block{
    overflow: hidden;
}