.login_border_main {
  width: auto;
  border: 8px solid;
  border-color: #e6e6fa;
  display: inline-block;
  text-align: center;
  padding: 70px;
  margin-left: 35%;
  margin-right: 35%;
}

.margin_left {
  display: inline-block;
  margin-left: 100px;
}

.margin_left_right {
  margin-left: 35%;
  margin-right: 35%;
}

.margin_top {
  margin-top: 100px;
  margin-bottom: 100px;
}

.sinup-main {
  text-decoration: underline;
  color: blue;
}

.login-button {
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fdfbfb),
    to(#ebedee)
  );
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.login-button:hover {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fdfbfb),
    to(#ebedee)
  );
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}
