body {
  background: #f5f5dc;
  font: 87.5%/1.5em "Open Sans", sans-serif;
  margin: 0;
}

p {
  line-height: 1.5em;
}

after {
  clear: both;
}

#login {
  margin: 50px auto;
  width: 320px;
}

#login form {
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 100%;
  border-radius: 5px;
  background: #282e33;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}

#login form span {
  background-color: #e0ffff;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}

#login form input[type="email"] {
  background-color: #e0ffff;
  border-radius: 0px 3px 3px 0px;
  color: #000000;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form input[type="password"] {
  background-color: #e0ffff;
  border-radius: 0px 3px 3px 0px;
  color: #000000;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

.submit {
  background: #b5cd60;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.submit:hover {
  background: #16aa56;
}

.margin-margin {
  display: inline-block;
  margin-left: 35%;
  font-size: 20px;
}

.login-font {
  color: #000000;
  font-family: "Arial Black";
}

.login-from-font {
  color: #ffffff;
}
