.main-title{
    border-left: thick solid red;
}

.tbl{
    border-collapse: separate;
    border-spacing: 4px 8px;
    margin-left: auto;
    margin-right: auto;
}
.tbl th{
    background-color:#f5dfd1;
    border-bottom:solid 2px #ff4800;
}
body{
    width:99%; 
    text-align:center;
    background-color: rgb(241, 241, 241);
    }
