.shop-base-margin-top-style {
  margin-top: 10rem;
}

.shop-base-margin-bottom-style {
  margin-bottom: 10rem;
}

.shop-mypage-Character-position {
  text-align: left;
  margin-left: auto;
}
