.design03 {
  width: 50%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: solid 1px #778ca3;
}
.design03 tr:nth-child(2n + 1) {
  background: #e9faf9;
}
.design03 th,
.design03 td {
  padding: 10px;
  border-bottom: solid 1px #778ca3;
}

.v_line_left {
  border-left: thick solid red;
  padding-left: 10px;
}
.change_button {
  color: #fff;
  background: #5876a3;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
}