.design03 tr:nth-child(2n + 1) {
  background: #e9faf9;
  padding-left: 10px;
}
.design03 th{
  font-size: 24px;
}
.design03 td {
  padding: 10px;
  border-bottom: solid 1px #778ca3;
}

.v_line_left {
  border-left: thick solid red;
  padding-left: 10px;
}
.change_button {
  color: #fff;
  background: #a2c1ee;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
}