.framework {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: solid;
  width: 80%;
  min-height: 500px;
  padding-top: 4px;
}

.star5_rating {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #cccccc; /* グレーカラー 自由に設定化 */
  font-size: 40px; /*フォントサイズ 自由に設定化 */
}

.star5_rating:before,
.star5_rating:after {
  content: "★★★★★";
}

.star5_rating:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5.0"]:after {
  width: 100%;
} /* 星5 */
.star5_rating[data-rate="4.5"]:after {
  width: 90%;
} /* 星4.5 */
.star5_rating[data-rate="4.0"]:after {
  width: 80%;
} /* 星4 */
.star5_rating[data-rate="3.5"]:after {
  width: 70%;
} /* 星3.5 */
.star5_rating[data-rate="3.0"]:after {
  width: 60%;
} /* 星3 */
.star5_rating[data-rate="2.5"]:after {
  width: 50%;
} /* 星2.5 */
.star5_rating[data-rate="2.0"]:after {
  width: 40%;
} /* 星2 */
.star5_rating[data-rate="1.5"]:after {
  width: 30%;
} /* 星1.5 */
.star5_rating[data-rate="1.0"]:after {
  width: 20%;
} /* 星1 */
.star5_rating[data-rate="0.5"]:after {
  width: 10%;
} /* 星0.5 */
.star5_rating[data-rate="0"]:after {
  width: 0%;
} /* 星0 */

.margin-top_20px {
  margin-top: 20px;
}

.evaluation_position {
  margin-left: 40px;
  display: inline-block;
}

.rating_position {
  display: inline-block;
}

.font-size_35px {
  font-size: 35px;
  display: inline-block;
}

.margin-left_40px {
  margin-left: 40px;
}

.margin-left_80px {
  margin-left: 80px;
}

.margin-top_40px {
  margin-top: 40px;
}
.margin-left_20px {
  margin-left: 20px;
}

.title {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  border: solid;
  padding-top: 4px;
  font-size: 25px;
  overflow-wrap: break-word;
}

.review_text {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  min-height: 200px;
  border: solid;
  padding-top: 4px;
  font-size: 25px;
  overflow-wrap: break-word;
}
