.margin {
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.Banner-image {
  margin-top: -50px;
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
  position: relative;
}

.star5_rating {
  margin-left: 40px;
  margin-bottom: 30spx;
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #cccccc; /* グレーカラー 自由に設定化 */
  /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before,
.star5_rating:after {
  content: "★★★★★";
}

.star5_rating:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after {
  width: 100%;
} /* 星5 */
.star5_rating[data-rate="4.5"]:after {
  width: 90%;
} /* 星4.5 */
.star5_rating[data-rate="4"]:after {
  width: 80%;
} /* 星4 */
.star5_rating[data-rate="3.5"]:after {
  width: 70%;
} /* 星3.5 */
.star5_rating[data-rate="3"]:after {
  width: 60%;
} /* 星3 */
.star5_rating[data-rate="2.5"]:after {
  width: 50%;
} /* 星2.5 */
.star5_rating[data-rate="2"]:after {
  width: 40%;
} /* 星2 */
.star5_rating[data-rate="1.5"]:after {
  width: 30%;
} /* 星1.5 */
.star5_rating[data-rate="1"]:after {
  width: 20%;
} /* 星1 */
.star5_rating[data-rate="0.5"]:after {
  width: 10%;
} /* 星0.5 */
.star5_rating[data-rate="0"]:after {
  width: 0%;
} /* 星0 */

.Contents {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  background-color: #fafaf6;
}
/*いいね*/
/* .lovelove .love{
  position: absolute;
  top: 40px;
  left: 700px;
} */
.lovelove{
  margin:0 auto;
  border-spacing: 12px 8px;
}
.love {
  font-weight: bold;
}
.love-mark{
  font-size: 20px;

}
/*注文ボタン*/
.Contents .user-orderbutton {
  position: absolute;
  top: 150px;
  left: 900px;
  color: white;
  font-weight: bold;
}

.user-orderbutton {
  margin-top: 10px;

  display: inline-block;
  border-radius: 5%; /* 角丸       */
  font-size: 20px; /* 文字サイズ */
  font-weight: bold;
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 10px 18px; /* 余白       */
  background: #ff4800; /* 背景色     */
  color: #ffffff; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  box-shadow: 2px 2px #666666; /* 影の設定 */
  border: 2px solid #ff4d4d; /* 枠の指定 */
}

.user-orderbutton:hover {
  box-shadow: none; /* カーソル時の影消去 */
  color: #ff4d4d; /* 背景色     */
  background: #ffffff; /* 文字色     */
}

.shop_name {
  font-weight: 800;
  margin-left: 30px;
  /* font-size: larger; */
}

.inline-block {
  white-space: nowrap;
}

.underline {
  border: solid 4px #d1d1b5;
  border-radius: 8px; /* 半径が8pxの角丸 */
}

/* .td1{

} */

.detail_table {
  margin-left: 60px;
}

.main_text {
  margin-left: 60px;
  margin-right: 150px;
  margin-bottom: 20px;
  padding-top: 4px;
  overflow-wrap: break-word;
}

.discribe_font_size {
  font-size: medium;
}

/* .menu {
  margin-left: 1px;
  background-color: orange;
  float: left;
  border: solid;
  overflow: hidden;
} */

/* .menu tr:nth-child(2n) {
  margin-right: 100px;
  background-color: blue;
  float: left;
  border: solid;
  overflow: hidden;
} */

/* .menu tr:nth-child(2n) {
  display: flex;
  flex-wrap: wrap;
  border: solid;
  overflow: hidden;
  align-items: flex-start;
}

.menu tr:nth-child(2n + 1) {
  display: flex;
  flex-wrap: wrap;
  border: solid;
  overflow: hidden;
  align-items: flex-start;
} */

body {
  width: 99%; /*ページ全体の幅は100%と指定する*/
  text-align: center; /*ページ全体を中央揃えにする*/
}
.food_name {
  font-size: 10px;
}
.food_pic img {
  width: 170px;
  height: 150px;
}
.block {
  overflow: hidden;

  border: solid black;
  border-radius: 10px;

  display: inline-block; /*横並び*/

  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); /*影*/

  padding-left: 100px;
  padding-right: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  display: block;
}
