.user-base-margin-top-style {
  margin-top: 10rem;
}

.user-base-margin-bottom-style {
  margin-bottom: 10rem;
}

.user-mypage-Character-position {
  text-align: left;
  margin-left: 6rem;
  margin-bottom: 6rem;
}

.user-mypage-litag {
  margin-bottom: 6rem;
}

.user-btn-orange {
  font-size: 2.5rem;
  color: #fff;
  background-color: #eb6100;
  border-radius: 30px;
}

