a {
  text-decoration: none;
}

.post-preview {
  display: inline-block;
  text-align: center;
  background-color: azure;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  border: solid black;
  width: 1400px;
  height: auto;
  overflow: hidden;
}
.post-preview img {
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}
.post-preview p {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container {
  width: 99%;
}
.name_font {
  font-weight: 700;
  margin-right: 800px;
}

.star5_rating {
  margin-left: 800px;
  margin-top: 20px;
  /* margin-bottom: 30spx; */
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #cccccc; /* グレーカラー 自由に設定化 */
  font-size: 30px; /*フォントサイズ 自由に設定化 */
}

.star5_rating:before,
.star5_rating:after {
  content: "★★★★★";
}

.star5_rating:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5.0"]:after {
  width: 100%;
} /* 星5 */
.star5_rating[data-rate="4.5"]:after {
  width: 90%;
} /* 星4.5 */
.star5_rating[data-rate="4.0"]:after {
  width: 80%;
} /* 星4 */
.star5_rating[data-rate="3.5"]:after {
  width: 70%;
} /* 星3.5 */
.star5_rating[data-rate="3,0"]:after {
  width: 60%;
} /* 星3 */
.star5_rating[data-rate="2.5"]:after {
  width: 50%;
} /* 星2.5 */
.star5_rating[data-rate="2.0"]:after {
  width: 40%;
} /* 星2 */
.star5_rating[data-rate="1.5"]:after {
  width: 30%;
} /* 星1.5 */
.star5_rating[data-rate="1.0"]:after {
  width: 20%;
} /* 星1 */
.star5_rating[data-rate="0.5"]:after {
  width: 10%;
} /* 星0.5 */
.star5_rating[data-rate="0"]:after {
  width: 0%;
} /* 星0 */

.font_size {
  font-size: 30px;
}
