#user{
  -webkit-background-size:/*@@prefixmycss->No equivalent*/ ;
  -moz-background-size: cover;
  -o-background-size:/*@@prefixmycss->No equivalent*/ ;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
#user .header{
  animation  : bgAnime 9s infinite;
}
#user .header .header1 {
  background-image: url(../img/HIKAKIN/HIKAKIN_GOOD.jpg);
  }
#user .header .header2{
  background-image: url(../img/night.jpg);
  animation-delay  : 3s;
}
#user .header .header3{
  background-image: url(../img/HIKAKIN/HIKAKIN_GOOD.jpg);
  animation-delay : 6s;
}
@keyframes bgAnime {
  0% { opacity: 0; }
  9% { opacity: 1; }
 25% { opacity: 1; }
 34% { opacity: 0; }
100% { opacity: 0; }
}
  #user .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(44, 33, 5, 0.2);
    z-index: 0;
  }
  #user .center {
    position: relative;
    z-index: 1;
    color: white;
  }
  #user .bottom {
    color: white;
  }
  #user .center .slogan {
    font-size: 26px;
    text-transform: uppercase;
  }
  #user .banner h1 {
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    background: #ed0121;
    padding: 0px 18px;
  }
  #user .subtitle h4 {
    display: inline-block;
    background: white;
    color: #ed0121;
    font-size: 38px;
    padding: 0px 15px;
  }
  #user .bottom {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 30px;
  }
  #user .bottom a {
    font-size: 36px;
    color: whitesmoke;
    position: relative;
    top: -5px;
  }