{% extends 'shop_base.html' %}


{% block title %}商品リスト{% endblock %}
{% block header %}
{% endblock %}
{% block contents %}

<div class="container">
    <h1>商品詳細</h1>
    {% for f in object_list %}
    <p>
        {{ f.t1_shop_id }}
    </p>
    <div class="row">
            <h2>料理名</h2>
            <p>
                {{ f.t4_food_name }}
            </p>
            <h2>単価</h2>
            <p>
                {{ f.t4_price }}
            </p>
            <h2>食材</h2>
            <p>
                {% for k in f.t4_ingredients %}

                {{ k }}

                {% endfor %}
            </p>
            <h2>写真</h2>
            <p>
                {{ f.t4_food_photo_01 }}
            </p>
        </div>
            {% empty %}
            <p>empty</p>
            {% endfor %}
</div>

        {% endblock %}