{% extends 'shop_base.html' %}


{% block title %}商品詳細{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/food_list_ex.css' %}">
{% endblock %}
{% block contents %}

<div class="ex_pic">
    <div class="food_name">
        <!--料理名-->
        <h1>{{ object.t4_food_name }}<h1>
    </div>
    <div class="food_pic">
        <img src="../static/food_hamburger.png">
    </div>
</div>
<div class="ex_block">
    <div class="food_name_ex">
        <h2>商品名：{{ object.t4_food_name }}</h2>
        <!--商品説明-->
        <p>{{ object.t4_food_discribe }}</p>
    </div>
    <div class="money">
        <span class="en">￥</span>
        <span class="enen">{{ object.t4_price }}</span>
    </div>
    <div class="food">
        <h2>使用食材</h2>
        <li>{{ object.t4_ingredients }}</li>

    </div>
</div>
{% endblock %}