{% extends 'shop_base.html' %}

{% load static %}

{% block title %}{{ object.t4_food_name }}{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/food_list_ex.css' %}">
{% endblock %}
{% block contents %}
<div class="block">
    <div class="ex_pic">
        <div class="food_name">
            <!--料理名-->
            <h1>{{ object.t4_food_name }}<h1>
        </div>
        <div class="food_pic">
            <img src="{{ object.t4_food_photo_01.url }}">
        </div>
    </div>
    <div class="ex_block">
        <div class="food_name_ex">
            <h2>商品名：{{ object.t4_food_name }}</h2>
            <!--商品説明-->
            <p>{{ object.t4_food_discribe }}</p>
        </div>
        <div class="money">
            <span class="en">￥</span>
            <span class="enen">{{ object.t4_price }}</span>
        </div>
        <div class="food">
            <h2>使用食材</h2>
            {% for food in object.t4_ingredients %}
            <li>{{ food }}</li>
            {% endfor %}
        </div>
      </div>
    </div>
            <div class="button-block">
                <div class="change">
                  {% comment %} <button type="button" id="change-button" onclick="cha()">変更</button> {% endcomment %}
                  <a class="change-button" href="{% url 'shop:food_update' object.pk %}"　onclick="cha()">変更</a>
                </div>
              <div class ="delete">
                {% comment %} <button type="button" id="delete-button" onclick="del()">削除</button> {% endcomment %}
                <a href="{% url 'shop:food_delete' object.pk %}" >
                  <button type="button" id="delete-button" onclick="del()">削除</button>
                </a>
              </div>
            </div>
          <script>
                function cha() {
                  if(window.confirm('データを変更しますか？')){
            }
                  else{
                      window.alert('キャンセルしました');
                  }
                }
              function del() {
                  if(window.confirm('データを消去しますか？')){
            }
                  else{
                      window.alert('キャンセルしました');
                  }
                }
{% endblock %}