{% extends 'shop_base.html' %}

{% load static %}

{% block title %}マイページ{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="shop-mypage-Character-position">
    <h1><b>マイページ</b></h1>
</div>

<div class="shop-mypage-btn">
    {% for object in object_list %}
    <div>
        <a href="{% url 'shop:info' object.pk %}" class="btn_02_a"><span>店舗詳細</span></a>
    </div>
    {% endfor %}
</div>
<div class="shop-mypage-btn">
    <div>
        <a href="#" class="btn_02_a"><span>販売状況</span></a>
    </div>
</div>
<div class="shop-mypage-btn">
    <div>
        <a href="{% url 'account_logout' %}" class="btn_02_a"><span>ログアウト</span></a>
    </div>
</div>
<div class="shop-mypage-btn">
    <div>
        <a href="#" class="btn_02_a"><span>退会申し込み</span></a>
    </div>
</div>
{% endblock %}