{% extends 'shop_base.html' %}

{% load static %}

{% block title %}マイページ{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="shop-mypage-Character-position">
    <h1 class="">My page </h1>
</div>

<ul>
    <li><a href="#">
            <h3>アカウント詳細</h3>
        </a></li>
    <li><a href="#">
            <h3>売り上げ</h3>
        </a></li>
    <li><a href="#">
            <h3>ログアウト</h3>
        </a></li>
    <li><a href="#">
            <h3>退会</h3>
        </a></li>
</ul>
{% endblock %}