{% extends 'shop_base.html' %}

{% load static %}

{% block title %}マイページ{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="shop-mypage-Character-position">
    <h1 class="">My page </h1>
</div>


<h3><a href="#" class="btn shop-btn-orange shop-btn-circle shop-btn-circle-a shop-btn-shadow">アカウント詳細</a></h3>
<h3><a href="#" class="btn shop-btn-orange shop-btn-circle shop-btn-circle-a shop-btn-shadow">販売状況</a></h3>
<h3><a href="#" class="btn shop-btn-orange shop-btn-circle shop-btn-circle-a shop-btn-shadow">ログアウト</a></h3>
<h3><a href="#" class="btn shop-btn-orange shop-btn-circle shop-btn-circle-a shop-btn-shadow">退会</a></h3>

{% endblock %}