{% extends 'shop_base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/shop_check_review.css' %}">
{% endblock %}

{% block contents %}
<h1 class="margin-left_80px">レビュー確認画面</h1>
{% for rev in review %}
{% if shop == rev.t1_shop_id %}
<div class="framework">
    <h2 class="evaluation_position margin-top_20px">評価：</h2>
    <span class="star5_rating rating_position margin-top_20px" data-rate="{{rev.t6_star}}"></span>
    <div class="font-size_35px margin-top_20px"> ({{rev.t6_star}})</div>
    <h2 class="margin-left_40px margin-top_20px">レビュータイトル</h2>
    <div class="title">
        <p class="margin-left_20px">{{rev.t6_title}}</p>
    </div>
    <h2 class="margin-left_40px margin-top_20px">レビュー内容</h2>
    <div class="review_text ">
        <p class="margin-left_20px">{{rev.t6_sentence}}</p>
    </div>
</div>
{% endif %}
{% endfor %}



{% endblock %}