{% extends 'user_base.html' %}

{% load static %}

{% block title %}マイページ{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}

<p>{{object.t1_shop_name_prime}}</p>
<p>{{object.t1_address}}</p>
<p>{{object.t8_shop_category_id}}</p>
<p>{{object.t1_start_time}}</p>
<p>{{object.t1_end_time}}</p>
<p>{{object.t1_favorite_count}}</p>
<p>{{object.t1_tel_number}}</p>
<p>{{object.t1_shop_discribe}}</p>
<p>{{object.t1_shop_name_sub}}</p>


<p>{% if object.t1_shop_sun %}
    日曜日
    {% endif %}
    {% if object.t1_shop_mon %}
    月曜日
    {% endif %}
    {% if object.t1_shop_tue %}
    火曜日
    {% endif %}
    {% if object.t1_shop_wed %}
    水曜日
    {% endif %}
    {% if object.t1_shop_tru %}
    木曜日
    {% endif %}
    {% if object.t1_shop_fri %}
    金曜日
    {% endif %}
    {% if object.t1_shop_sat %}
    土曜日
    {% endif %}
</p>


<p>{% if object.t1_shop_photo_01 %}
    <img src="{{ object.t1_shop_photo_01.url }}" width="200" height="200" />
    {% endif %}
    {% if object.t1_shop_photo_02 %}
    <img src="{{ object.t1_shop_photo_02.url }}" width="200" height="200" />
    {% endif %}
    {% if object.t1_shop_photo_03 %}
    <img src="{{ object.t1_shop_photo_03.url }}" width="200" height="200" />
    {% endif %}
    {% if object.t1_shop_photo_04 %}
    <img src="{{ object.t1_shop_photo_04.url }}" width="200" height="200" />
    {% endif %}
    {% if object.t1_shop_photo_05 %}
    <img src="{{ object.t1_shop_photo_05.url }}" width="200" height="200" />
    {% endif %}
</p>
<p>{{object.t1_bank_name}}</p>
<p>{{object.t1_bank_location}}</p>
<p>{{object.t1_bank_number}}</p>


<a class="" href="{% url 'shop:shop_update' object.pk %}">変更</a>

{% endblock %}