
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ログイン画面</title>
        <link rel="stylesheet" type="text/css" href="css/button.css">
    </head>
    <body>
        <h1 id="login">ログイン画面</h1>
        <button class="btn-cus" type=“button” onclick="location.href=''">顧客</button>
        <button class="btn-sho" type=“button” onclick="location.href=''">店舗</button>
        <button class="btn-del" type=“button” onclick="location.href=''">配達員</button>
        <button class="btn-new" type=“button” onclick="location.href=''">新規作成</button>
    </body>
</html>