
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ログイン画面</title>
        <link rel="stylesheet" type="text/css" href="button.css">
    </head>
    <body>
        <h1 id="login">ログイン画面</h1>
        <div class="login-btn">
            <a href="" class="btn btn-cus"><span>ログイン<p>アカウントがある方はこちらへ</p></span></a>
            <a href="" class="btn btn-new"><span>アカウント作成</span></a>
        </div>
        <div class="login-btn">
            <a href="" class="btn btn-sho"><span>店舗様向け</span></a>
            <a href="" class="btn btn-del"><span>配達員様向け</span></a>
        </div>
    </body>
</html>