{% extends 'prime_base.html' %}

{% load static %}

{% block title %}prime{% endblock %}

{% block header %}
<div id="header">
    <div class="bg-overlay"></div>
    <div class="center text-center">
        <div class="banner">
            <h1 class="">ともく～る　～～しょくとも～～</h1>
        </div>
        <div class="subtitle">
            <h4>裏の写真は広告に置き換え</h4>
        </div>
    </div>
    <div class="bottom text-center">
        <a id="scrollDownArrow" href="#"><i class="fa fa-chevron-down"></i></a>
    </div>
</div>
<!-- /#header -->

{% endblock %}

{% block contents %}

<div id="story" class="light-wrapper">
    <section class="ss-style-top"></section>
    <div class="container inner">
        <h2 class="section-title text-center">料金表</h2>
        <p class="lead main text-center">さまざまなプランを用意しております。</p>
        <div class="row text-center story">
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper"> <i class="fa  fa-cutlery"></i> </div>
                    <h3>週3回コース</h3>
                    <p>一か月：12,000円 </p>
                    <p>一食平均1,000円まで</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper"> <i class="fa fa-coffee"></i> </div>
                    <h3>週5回コース</h3>
                    <p>一か月：26,000円</p>
                    <p>一食平均1,300円まで</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper"> <i class="fa fa-anchor"></i> </div>
                    <h3>週7回コース</h3>
                    <p>一か月：42,000円</p>
                    <p>一食平均1,500円まで</p>
                </div>
            </div>
        </div>
        <!-- /.services -->
    </div>
    <!-- /.container -->
    <section class="ss-style-bottom"></section>
</div><!-- #story -->


<div id="facts" class="parallax parallax2 facts">
    <div class="container inner">
        <div class="row text-center services-3">
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-beer"></i> </div>
                    <h4>796518</h4>
                    <p>登録店舗数</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-play-circle-o"></i> </div>
                    <h4>39472</h4>
                    <p>数</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-truck"></i> </div>
                    <h4>2188764</h4>
                    <p>配達員数</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-users"></i> </div>
                    <h4>480523</h4>
                    <p>ユーザー登録数</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div><!-- #facts -->


<div id="special-offser" class="parallax pricing">
    <div class="container inner">

        <h2 class="section-title text-center">利用可能店舗</h2>
        <p class="lead main text-center">現在登録されている主な店舗</p>

        <div class="row">
            <div class="col-md-6 col-sm-6">

                <div class="pricing-item">

                    <a href="#"><img class="img-responsive img-thumbnail" src="{% static 'img/dish/dish3.jpg' %}"
                            alt=""></a>

                    <div class="pricing-item-details">

                        <h3><a href="#">Chicken Fried Rice</a></h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <a class="btn btn-danger" href="#">Order now</a>
                        <div class="clearfix"></div>
                    </div>
                    <!--price tag-->
                    <span class="hot-tag br-red">$26</span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">

                <div class="pricing-item">

                    <a href="#"><img class="img-responsive img-thumbnail" src="{% static 'img/dish/dish2.jpg' %}"
                            alt=""></a>

                    <div class="pricing-item-details">

                        <h3><a href="#">Hot Fried Chicken</a></h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <a class="btn btn-danger" href="#">Order now</a>
                        <div class="clearfix"></div>
                    </div>
                    <!--price tag-->
                    <span class="hot-tag br-lblue">$37</span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix visible-md"></div>
            <div class="col-md-6 col-sm-6">

                <div class="pricing-item">

                    <a href="#"><img class="img-responsive img-thumbnail" src="{% static 'img/dish/dish4.jpg' %}"
                            alt=""></a>

                    <div class="pricing-item-details">

                        <h3><a href="#">Thi Chicken Momo</a></h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <a class="btn btn-danger" href="#">Order now</a>
                        <div class="clearfix"></div>
                    </div>
                    <!--price tag-->
                    <span class="hot-tag br-green">$54</span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">

                <div class="pricing-item">

                    <a href="#"><img class="img-responsive img-thumbnail" src="{% static 'img/dish/dish1.jpg' %}"
                            alt=""></a>

                    <div class="pricing-item-details">

                        <h3><a href="#">Cocktail Sushi</a></h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <a class="btn btn-danger" href="#">Order now</a>
                        <div class="clearfix"></div>
                    </div>
                    <!--price tag-->
                    <span class="hot-tag br-red">$27</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div><!-- /#special-offser -->




<div id="reservation" class="light-wrapper">
    <section class="ss-style-top"></section>
    <div class="container inner">
        <h2 class="section-title text-center">お問い合わせフォーム</h2>
        <p class="lead main text-center">Reserve your table &amp; enjoy lorem Ipsum</p>
        <div class="row">
            <div class="col-md-6">
                <form class="form form-table" method="post" name="">
                    <div class="form-group">
                        <h4>Fill the form for table reservation (all fields required)</h4>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="first_name1">first name</label>
                            <input class="form-control hint" type="text" id="first_name1" name="first_name"
                                placeholder="First name" required="">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="last_name1">last name</label>
                            <input class="form-control hint" type="text" id="last_name1" name="last_name"
                                placeholder="Last name" required="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="email1">email</label>
                            <input class="form-control hint" type="email" id="email1" name="email"
                                placeholder="Email@domain.com" required="">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="phone1">phone</label>
                            <input class="form-control hint" type="text" id="phone1" name="phone" placeholder="Phone"
                                required="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="reserv_date1">reservation date</label>
                            <input class="form-control datepicker hasDatepicker hint" type="text" id="reserv_date1"
                                name="reserv_date" placeholder="Reservation date" required="">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="numb_guests1">number of guests</label>
                            <input class="form-control hint" type="text" id="numb_guests1" name="numb_guests"
                                placeholder="Number of guests" required="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="alt_reserv_date1">time from</label>
                            <input class="form-control datepicker hasDatepicker hint" type="text" id="alt_reserv_date1"
                                name="alt_reserv_date" placeholder="Time from" required="">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="time1">time</label>
                            <input class="form-control timepicker ui-timepicker-input hint" type="text" id="time1"
                                name="time" placeholder="Time to" required="" autocomplete="off">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="btn btn-danger btn-lg">Reserve!</button>
                        </div>
                    </div>
                </form>
            </div><!-- col-md-6 -->
            <div class="col-md-5 col-md-offset-1">

                <h3><i class="fa fa-clock-o fa-fw"></i>Hours</h3>
                <h4>Breakfast</h4>
                <p>Mon to Fri: 7:30 AM - 11:30 AM<br>Sat &amp; Sun: 8:00 AM - 9:00 AM</p>
                <h4>Lunch</h4>
                <p>Mon to Fri: 12:00 PM - 5:00 PM</p>
                <h4>Dinner</h4>
                <p>Mon to Sat: 6:00 PM - 1:00 AM<br>Sun: 5:30 PM - 12:00 AM</p>

                <h3><i class="fa fa-map-marker fa-fw"></i>Directions</h3>
                <p>4120 Lenox Avenue, New York, NY, 10035 76 Saint Nicholas Avenue</p>

                <h3><i class="fa fa-mobile fa-fw"></i>Contacts</h3>
                <p>Email: <a href="mailto:yourname@meatking.com">yourname@meatking.com</a></p>
                <p>Phone: +234 3456 678</p>

            </div><!-- col-md-6 -->
        </div>
        <!-- /.services -->
    </div>
    <!-- /.container -->
    <section class="ss-style-bottom"></section>
</div><!-- #reservation -->



<div id="chefs" class="parallax pricing">
    <div class="container inner">

        <h2 class="section-title text-center">利用可能地域</h2>
        <p class="lead main text-center">全国20都道府県の主要な地域</p>

        <div class="row text-center chefs">
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper">
                        <img src="{% static 'img/chefs/1.jpg' %}">
                    </div>
                    <h3>Saransh Goila</h3>
                    <p>Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur
                        purus sit amet fermentum ultricies vehicula.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper">
                        <img src="{% static 'img/chefs/3.jpg' %}">
                    </div>
                    <h3>Jane Doe</h3>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis
                        dis parturient monte nascetur ultricies vehicula. </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper">
                        <img src="{% static 'img/chefs/2.jpg' %}">
                    </div>
                    <h3>Anton Mosimann</h3>
                    <p>Curabitur blandit matti tempus porttitor. Donec id elit non mi porta ut gravida at eget
                        metus. Consectetur adipiscing elit ultricies vehicula.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div><!-- /#chefs -->

{% endblock %}