{% extends 'prime_base.html' %}

{% load static %}

{% block title %}prime{% endblock %}

{% block header %}
<div id="header">
    <div class="bg-overlay"></div>
    <div class="center text-center">
        <div class="banner">
            <h1 class="">ともく～る　～～しょくとも～～</h1>
        </div>
        <div class="subtitle">
            <h4>裏の写真は広告に置き換え</h4>
        </div>
    </div>
    <div class="bottom text-center">
        <a id="scrollDownArrow" href="#"><i class="fa fa-chevron-down"></i></a>
    </div>
</div>
<!-- /#header -->

{% endblock %}
<h1>{{ user.user_id }}</h1>
{% block contents %}

<div id="story" class="light-wrapper">
    <section class="ss-style-top"></section>
    <div class="container inner">
        <h2 class="section-title text-center">料金</h2>
        <p class="lead main text-center">We're cooking delecious foods since 1879</p>
        <div class="row text-center story">
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper"> <i class="fa fa-anchor"></i> </div>
                    <h3>プラン１</h3>
                    <p>Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur
                        purus sit amet fermentum ultricies vehicula.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper"> <i class="fa  fa-cutlery"></i> </div>
                    <h3>プラン２</h3>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis
                        dis parturient monte nascetur ultricies vehicula. </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper"> <i class="fa fa-coffee"></i> </div>
                    <h3>プラン３</h3>
                    <p>Curabitur blandit matti tempus porttitor. Donec id elit non mi porta ut gravida at eget
                        metus. Consectetur adipiscing elit ultricies vehicula.</p>
                </div>
            </div>
        </div>
        <!-- /.services -->
    </div>
    <!-- /.container -->
    <section class="ss-style-bottom"></section>
</div><!-- #story -->


<div id="facts" class="parallax parallax2 facts">
    <div class="container inner">
        <div class="row text-center services-3">
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-beer"></i> </div>
                    <h4>796518</h4>
                    <p>登録店舗数</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-play-circle-o"></i> </div>
                    <h4>39472</h4>
                    <p>数</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-truck"></i> </div>
                    <h4>2188764</h4>
                    <p>配達員数</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-users"></i> </div>
                    <h4>480523</h4>
                    <p>ユーザー登録数</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div><!-- #facts -->


<div id="special-offser" class="parallax pricing">
    <div class="container inner">

        <h2 class="section-title text-center">利用可能店舗</h2>
        <p class="lead main text-center">現在登録されている主な店舗</p>

        <div class="row">
            <div class="col-md-6 col-sm-6">

                <div class="pricing-item">

                    <a href="#"><img class="img-responsive img-thumbnail" src="{% static 'img/dish/dish3.jpg' %}"
                            alt=""></a>

                    <div class="pricing-item-details">

                        <h3><a href="#">Chicken Fried Rice</a></h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <a class="btn btn-danger" href="#">Order now</a>
                        <div class="clearfix"></div>
                    </div>
                    <!--price tag-->
                    <span class="hot-tag br-red">$26</span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">

                <div class="pricing-item">

                    <a href="#"><img class="img-responsive img-thumbnail" src="{% static 'img/dish/dish2.jpg' %}"
                            alt=""></a>

                    <div class="pricing-item-details">

                        <h3><a href="#">Hot Fried Chicken</a></h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <a class="btn btn-danger" href="#">Order now</a>
                        <div class="clearfix"></div>
                    </div>
                    <!--price tag-->
                    <span class="hot-tag br-lblue">$37</span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix visible-md"></div>
            <div class="col-md-6 col-sm-6">

                <div class="pricing-item">

                    <a href="#"><img class="img-responsive img-thumbnail" src="{% static 'img/dish/dish4.jpg' %}"
                            alt=""></a>

                    <div class="pricing-item-details">

                        <h3><a href="#">Thi Chicken Momo</a></h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <a class="btn btn-danger" href="#">Order now</a>
                        <div class="clearfix"></div>
                    </div>
                    <!--price tag-->
                    <span class="hot-tag br-green">$54</span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">

                <div class="pricing-item">

                    <a href="#"><img class="img-responsive img-thumbnail" src="{% static 'img/dish/dish1.jpg' %}"
                            alt=""></a>

                    <div class="pricing-item-details">

                        <h3><a href="#">Cocktail Sushi</a></h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <a class="btn btn-danger" href="#">Order now</a>
                        <div class="clearfix"></div>
                    </div>
                    <!--price tag-->
                    <span class="hot-tag br-red">$27</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div><!-- /#special-offser -->

<div id="chefs" class="parallax pricing">
    <div class="container inner">

        <h2 class="section-title text-center">利用可能地域</h2>
        <p class="lead main text-center">There is no sincerer love than the love of food!</p>

        <div class="row text-center chefs">
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper">
                        <img src="{% static 'img/chefs/1.jpg' %}">
                    </div>
                    <h3>Saransh Goila</h3>
                    <p>Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur
                        purus sit amet fermentum ultricies vehicula.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper">
                        <img src="{% static 'img/chefs/3.jpg' %}">
                    </div>
                    <h3>Jane Doe</h3>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis
                        dis parturient monte nascetur ultricies vehicula. </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <div class="icon-wrapper">
                        <img src="{% static 'img/chefs/2.jpg' %}">
                    </div>
                    <h3>Anton Mosimann</h3>
                    <p>Curabitur blandit matti tempus porttitor. Donec id elit non mi porta ut gravida at eget
                        metus. Consectetur adipiscing elit ultricies vehicula.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div><!-- /#chefs -->

{% endblock %}