{% extends 'driver_base.html' %}

{% load static %}

{% block title %}配送状況{% endblock %}
{% block header %}
{% endblock %}
{% block contents %}

<div class="pagetitle">
<h1><b>配送状況</b></h1>
</div>



<form>
    <div class="adress">
    <input type="text" id="msg" size="50">
    <button class="button" type="button" id="button1" onclick="disp()" disabled>開始</button>
    <button class="button" type="button" id="button2" onclick="delivered()" disabled>配送完了</button>
    </div>
</form>
    <script>
        var element;
        element=document.getElementById("button1");
        element.disabled = false;
        function disp() {
            if(window.confirm('配送を開始しますか?')){
                var obj = document.getElementById("button1");
                console.log(obj.textContent)
                obj.textContent = "配送中";
            }
            else{
                window.alert('キャンセルしました');
            }
            obj.disabled=true;
        }
    
    
        var element2;
        element2=document.getElementById("button2");
        element2.disabled = false;
        function delivered() {
            if(window.confirm('配送が完了しましたか')){
                var obj = document.getElementById("button2");
                console.log(obj.textContent)
                obj.textContent = "配送済";
            }
            else{
                window.alert('キャンセルしました');
            }
            obj.disabled=true;
        }
    </script>


{% endblock %}