{% extends 'driver_base.html' %}

{% load static %}

{% block title %}配送状況{% endblock %}
{% block header %}
{% endblock %}
{% block contents %}

<div class="pagetitle">
<h1><b>配送状況</b></h1>
</div>

<div class="all" type="text" id="msg" size="50">
<div class="button">
<div class="dliveryStartButton" type="button" value="開始" onclick="alert_msg()">
</div>
<div class="deliveryCompleteButton" type="button" value="配達済" onclick="alert_msg()">
</div>
</div>
</div>


{% endblock %}