{% extends 'driver_base.html' %}

{% load static %}

{% block title %}マイページ{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="driver-mypage-Character-position">
    <font face="Comic Sans MS">
        <h1><b>My page</b></h1>
    </font>
</div>

<div class="driver-mypage-btn">
<div>
  <a href="#" class="btn_02_a"><span>アカウント</span></a>
</div>
    <!--<a href="#"
        class="btn driver-btn-orange driver-btn-circle driver-btn-circle-a driver-btn-shadow driver-mypage-btn-margin-bottom">アカウント</a>-->
        </div>
<div class="driver-mypage-btn">
<div>
  <a href="#" class="btn_02_a"><span>ログアウト</span></a>
</div>
    <!--<a href="#"
        class="btn driver-btn-orange driver-btn-circle driver-btn-circle-a driver-btn-shadow driver-mypage-btn-margin-top-right">ログアウト</a>
    <a href="#"
        class="btn driver-btn-withdrawal driver-btn-circle driver-btn-circle-a driver-btn-shadow driver-mypage-btn-margin-top-left">退会申し込み</a>-->
        </div>
<div class="driver-mypage-btn">
<div>
  <a href="#" class="btn_02_a"><span>退会申し込み</span></a>
</div>
</div>
{% endblock %}