{% extends 'driver_base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}

<p>苗字：{{object.t7_delivery_man_firstname}}</p>
<p>名前：{{object.t7_delivery_man_lastname}}</p>
<p>電話番号：{{object.t7_delivery_man_tel}}</p>
<p>金融機関名：{{object.t7_bank_name}}</p>
<p>支店番号：{{object.t7_bank_location}}</p>
<p>口座番号：{{object.t7_bank_number}}</p>
<p><img src="{{object.t7_photo.url}}" width="200" height="200" /></p>

<a class="" href="{% url 'driver:update' object.pk %}">変更</a>

{% endblock %}