{% extends 'driver_base.html' %}

{% load static %}

{% block title %}driver{% endblock %}

{% block header %}
<div id="header">
    <div class="bg-overlay"></div>
    <div class="driver src1"></div>
    <div class="driver src2"></div>
    <div class="driver src3"></div>
    <div class="center text-center">
        <div class="banner">
            <h1 class="">driver</h1>
        </div>
        <div class="subtitle">
            <h4>AWESOME RESTAURANT THEME</h4>
        </div>
    </div>
    <div class="bottom text-center">
        <a id="scrollDownArrow" href="#"><i class="fa fa-chevron-down"></i></a>
    </div>
</div>
<!-- /#header -->
{% endblock %}

{% block contents %}


{% endblock %}